.mastercard, .visacard, .applepay{
    width: 40px;
}

footer{
    background-color: #F8D1BB;
}

.shopintroduce{
    font-family: 'Sahitya';
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.shopintroduce{
    text-align: left;
}

.servicepeople{
    width: 60%;
    margin-top: 20px;
}

.sectiontwo img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row{
    align-items: center;
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;
}


.product_one img{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product_one h2{
    width: 300px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.product_two img{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product_two h2{
    width: 300px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
 
.product_three img{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product_three h2{
    width: 300px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
 
.product_four img{
    width: 300px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product_four h2{
    width: 300px;
    text-align: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 



.navbar-nav{
    gap:80px;
    font-size: 20px;

}
.navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: center;
}

.navbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.bi-search{
    align-items: flex-end;
}

.navbar-brand{
    font-size: 50px;
    font-family: 'Roboto Slab';
    font-style: normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

#hero {
    width: 70%;
    height: 600px;
    background: url(./images/nadya-spetnitskaya-xrZw86L1jnM-unsplash.jpg) top right;
    background-size: cover;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.title_shopnow {
    font-weight: 600;
    font-size: 30px;
    font-family: 'Roboto Slab';
    font-style: normal;
    text-align: center;
    position: absolute;
    margin-top: 400px;
    color: black;
    width: 180px;
    height: 70px;
    background: white;
    border-radius: 5px;
    opacity: ;
}

.title_shopnow h2{
    margin-top: 15px;
}

.title_dropnow{
    width: 60px;
    height: 60px;
    background: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-top: -20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.parttwo{
    height: 200px;
}

.bi-chevron-down{
    margin-left: 5px;
    margin-top: 8px;
}

.parttwo{
    text-align: center;
    margin-top: 50px;
    font-family: 'Sahitya';
    font-style: normal;
    font-weight: 400;
}
