
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  margin-left: 50px;
  background-color: ;
}

p {
  font-family: 'Ubuntu';font-size: 22px;

}

a {
  color: #ffcccc;
  text-decoration: none;
}

a:hover {
  color: #ffcccc;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //font-family: "Raleway", sans-serif;
  font-family: 'Ubuntu';
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ffcccc;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #ffcccc;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: rgba(49, 25, 19);
  overflow-y: auto;
  margin-left: 80px;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  //font-family: "Poppins", sans-serif;
  font-family: 'Ubuntu';
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #ffcccc;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
  font-family: 'Ubuntu';
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #ffcccc;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #ffcccc;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 90%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center white;
  background-size: cover;
  margin-left: 30px;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  bottom: 0;
  width: ;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
  margin-left: 550px;
  margin-top: 350px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-family: 'Reenie Beanie';
  font-size: 120px;
  font-weight: 700;
  line-height: 56px;
  color: rgba(49, 25, 19);
}

#hero p {
  color: rgba(49, 25, 19);
  margin-bottom: 50px;
  font-size: 50px;
  font-family: 'Reenie Beanie';
}

#hero p span {
  color: rgba(49, 25, 19);
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #ffcccc;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
    font-family: 'Reenie Beanie';
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 20px 70px;
  overflow: hidden;
  width: 90%;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title-portfolio, .section-title-resume{
  padding-bottom: 10px;
  font-family: 'Ubuntu';
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}


.section-title-skill{
  padding-bottom: 5px;
}

.section-title-skill h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title-skill h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #ffcccc;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts {
  padding-bottom: 30px;
}

.facts .count-box {
  padding: 30px;
  width: 100%;
}

.facts .count-box i {
  display: block;
  font-size: 44px;
  color: #ffcccc;
  float: left;
  line-height: 0;
}

.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-left: 60px;
}

.facts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #122f57;
}

.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #122f57;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.facts .count-box a:hover {
  color: #1f5297;
}

/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  //font-family: "Poppins", sans-serif;
  font-family: 'Ubuntu';
  color: #050d18;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #ffcccc;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: -5px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  //font-family: "Poppins", sans-serif;
  font-family: 'Ubuntu';
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
  font-family: 'Ubuntu';
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #ffcccc;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: #ffcccc;
  transition: 0.3s;
  width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: #ffcccc;
}

.portfolio .portfolio-wrap .portfolio-links a+a {
  border-left: 1px solid #ffcccc;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ffcccc;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffcccc;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
}

.services .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #ffcccc;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #ffcccc;
}

.services .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #ffcccc;
}

.services .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #343a40;
}

.services .title a:hover {
  color: #ffcccc;
}

.services .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Ubuntu';
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  font-family: 'Ubuntu';
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #c3e8fa;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: #fff;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.testimonials .testimonial-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ffcccc;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffcccc;
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background: #f9f9f9;
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #0e2442;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: rgba(49, 25, 19);
  margin-left: 80px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}


.progress-wrap span {
  /* background-color: rgb(50,63,79); */
  background-color: #e4edf9;
  font-family: 'Ubuntu';
  color: #050d18;
  font-size: 14px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #777777;
  border-radius: 10px;
}

/* flower petal animation */
#flowerpetal_container {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

#flowerpetal_container .flowerpetal {
  position: absolute;
  background-size: cover;
  background-image: url("../img/flowerpetal.png"); 
}

#flowerpetal_container .flowerpetal:nth-of-type(0) {
  animation-name: flowerpetal_container-0;
  animation-delay: 1s;
  animation-duration: 43s;
  animation-iteration-count: infinite;
  left: 37vw;
  top: -22vh;
  width: 9px;
  height: 9px;
}

@keyframes flowerpetal_container-0 {
  0% {
      transform: rotate(0deg);
      left: 37%;
      top: -22%;
  }

  25% {
      left: 42%;
  }

  50% {
      left: 37%;
  }

  75% {
      left: 32%;
      opacity: 1;
  }

  100% {
      left: 34.5%;
      transform: rotate(360deg);
      top: 116%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(1) {
  animation-name: flowerpetal_container-1;
  animation-delay: 17s;
  animation-duration: 32s;
  animation-iteration-count: infinite;
  left: 72vw;
  top: -19vh;
  width: 9px;
  height: 9px;
}

@keyframes flowerpetal_container-1 {
  0% {
      transform: rotate(0deg);
      left: 72%;
      top: -19%;
  }

  25% {
      left: 77%;
  }

  50% {
      left: 72%;
  }

  75% {
      left: 67%;
      opacity: 1;
  }

  100% {
      left: 69.5%;
      transform: rotate(360deg);
      top: 113%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(2) {
  animation-name: flowerpetal_container-2;
  animation-delay: 4s;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  left: 21vw;
  top: -32vh;
  width: 8px;
  height: 8px;
}

@keyframes flowerpetal_container-2 {
  0% {
      transform: rotate(0deg);
      left: 21%;
      top: -32%;
  }

  25% {
      left: 26%;
  }

  50% {
      left: 21%;
  }

  75% {
      left: 16%;
      opacity: 1;
  }

  100% {
      left: 18.5%;
      transform: rotate(360deg);
      top: 106%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(3) {
  animation-name: flowerpetal_container-3;
  animation-delay: 19s;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  left: 27vw;
  top: -63vh;
  width: 8px;
  height: 8px;
}

@keyframes flowerpetal_container-3 {
  0% {
      transform: rotate(0deg);
      left: 27%;
      top: -63%;
  }

  25% {
      left: 32%;
  }

  50% {
      left: 27%;
  }

  75% {
      left: 22%;
      opacity: 1;
  }

  100% {
      left: 24.5%;
      transform: rotate(360deg);
      top: 101%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(4) {
  animation-name: flowerpetal_container-4;
  animation-delay: 0s;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  left: 20vw;
  top: -19vh;
  width: 17px;
  height: 17px;
}

@keyframes flowerpetal_container-4 {
  0% {
      transform: rotate(0deg);
      left: 20%;
      top: -19%;
  }

  25% {
      left: 25%;
  }

  50% {
      left: 20%;
  }

  75% {
      left: 15%;
      opacity: 1;
  }

  100% {
      left: 17.5%;
      transform: rotate(360deg);
      top: 111%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(5) {
  animation-name: flowerpetal_container-5;
  animation-delay: 4s;
  animation-duration: 34s;
  animation-iteration-count: infinite;
  left: 65vw;
  top: -45vh;
  width: 13px;
  height: 13px;
}

@keyframes flowerpetal_container-5 {
  0% {
      transform: rotate(0deg);
      left: 65%;
      top: -45%;
  }

  25% {
      left: 70%;
  }

  50% {
      left: 65%;
  }

  75% {
      left: 60%;
      opacity: 1;
  }

  100% {
      left: 62.5%;
      transform: rotate(360deg);
      top: 102%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(6) {
  animation-name: flowerpetal_container-6;
  animation-delay: 4s;
  animation-duration: 19s;
  animation-iteration-count: infinite;
  left: 17vw;
  top: -53vh;
  width: 18px;
  height: 18px;
}

@keyframes flowerpetal_container-6 {
  0% {
      transform: rotate(0deg);
      left: 17%;
      top: -53%;
  }

  25% {
      left: 22%;
  }

  50% {
      left: 17%;
  }

  75% {
      left: 12%;
      opacity: 1;
  }

  100% {
      left: 14.5%;
      transform: rotate(360deg);
      top: 118%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(7) {
  animation-name: flowerpetal_container-7;
  animation-delay: 0s;
  animation-duration: 47s;
  animation-iteration-count: infinite;
  left: 21vw;
  top: -34vh;
  width: 17px;
  height: 17px;
}

@keyframes flowerpetal_container-7 {
  0% {
      transform: rotate(0deg);
      left: 21%;
      top: -34%;
  }

  25% {
      left: 26%;
  }

  50% {
      left: 21%;
  }

  75% {
      left: 16%;
      opacity: 1;
  }

  100% {
      left: 18.5%;
      transform: rotate(360deg);
      top: 114%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(8) {
  animation-name: flowerpetal_container-8;
  animation-delay: 4s;
  animation-duration: 29s;
  animation-iteration-count: infinite;
  left: 25vw;
  top: -19vh;
  width: 8px;
  height: 8px;
}

@keyframes flowerpetal_container-8 {
  0% {
      transform: rotate(0deg);
      left: 25%;
      top: -19%;
  }

  25% {
      left: 30%;
  }

  50% {
      left: 25%;
  }

  75% {
      left: 20%;
      opacity: 1;
  }

  100% {
      left: 22.5%;
      transform: rotate(360deg);
      top: 113%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(9) {
  animation-name: flowerpetal_container-9;
  animation-delay: 13s;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  left: 62vw;
  top: -34vh;
  width: 8px;
  height: 8px;
}

@keyframes flowerpetal_container-9 {
  0% {
      transform: rotate(0deg);
      left: 62%;
      top: -34%;
  }

  25% {
      left: 67%;
  }

  50% {
      left: 62%;
  }

  75% {
      left: 57%;
      opacity: 1;
  }

  100% {
      left: 59.5%;
      transform: rotate(360deg);
      top: 103%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(10) {
  animation-name: flowerpetal_container-10;
  animation-delay: 9s;
  animation-duration: 36s;
  animation-iteration-count: infinite;
  left: 1vw;
  top: -40vh;
  width: 10px;
  height: 10px;
}

@keyframes flowerpetal_container-10 {
  0% {
      transform: rotate(0deg);
      left: 1%;
      top: -40%;
  }

  25% {
      left: 6%;
  }

  50% {
      left: 1%;
  }

  75% {
      left: -4%;
      opacity: 1;
  }

  100% {
      left: -1.5%;
      transform: rotate(360deg);
      top: 101%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(11) {
  animation-name: flowerpetal_container-11;
  animation-delay: 19s;
  animation-duration: 37s;
  animation-iteration-count: infinite;
  left: 12vw;
  top: -59vh;
  width: 14px;
  height: 14px;
}

@keyframes flowerpetal_container-11 {
  0% {
      transform: rotate(0deg);
      left: 12%;
      top: -59%;
  }

  25% {
      left: 17%;
  }

  50% {
      left: 12%;
  }

  75% {
      left: 7%;
      opacity: 1;
  }

  100% {
      left: 9.5%;
      transform: rotate(360deg);
      top: 114%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(12) {
  animation-name: flowerpetal_container-12;
  animation-delay: 11s;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  left: 47vw;
  top: -62vh;
  width: 16px;
  height: 16px;
}

@keyframes flowerpetal_container-12 {
  0% {
      transform: rotate(0deg);
      left: 47%;
      top: -62%;
  }

  25% {
      left: 52%;
  }

  50% {
      left: 47%;
  }

  75% {
      left: 42%;
      opacity: 1;
  }

  100% {
      left: 44.5%;
      transform: rotate(360deg);
      top: 117%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(13) {
  animation-name: flowerpetal_container-13;
  animation-delay: 0s;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  left: 30vw;
  top: -50vh;
  width: 9px;
  height: 9px;
}

@keyframes flowerpetal_container-13 {
  0% {
      transform: rotate(0deg);
      left: 30%;
      top: -50%;
  }

  25% {
      left: 35%;
  }

  50% {
      left: 30%;
  }

  75% {
      left: 25%;
      opacity: 1;
  }

  100% {
      left: 27.5%;
      transform: rotate(360deg);
      top: 119%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(14) {
  animation-name: flowerpetal_container-14;
  animation-delay: 0s;
  animation-duration: 33s;
  animation-iteration-count: infinite;
  left: 47vw;
  top: -25vh;
  width: 19px;
  height: 19px;
}

@keyframes flowerpetal_container-14 {
  0% {
      transform: rotate(0deg);
      left: 47%;
      top: -25%;
  }

  25% {
      left: 52%;
  }

  50% {
      left: 47%;
  }

  75% {
      left: 42%;
      opacity: 1;
  }

  100% {
      left: 44.5%;
      transform: rotate(360deg);
      top: 114%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(15) {
  animation-name: flowerpetal_container-15;
  animation-delay: 10s;
  animation-duration: 19s;
  animation-iteration-count: infinite;
  left: 66vw;
  top: -21vh;
  width: 9px;
  height: 9px;
}

@keyframes flowerpetal_container-15 {
  0% {
      transform: rotate(0deg);
      left: 66%;
      top: -21%;
  }

  25% {
      left: 71%;
  }

  50% {
      left: 66%;
  }

  75% {
      left: 61%;
      opacity: 1;
  }

  100% {
      left: 63.5%;
      transform: rotate(360deg);
      top: 104%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(16) {
  animation-name: flowerpetal_container-16;
  animation-delay: 19s;
  animation-duration: 43s;
  animation-iteration-count: infinite;
  left: 34vw;
  top: -25vh;
  width: 19px;
  height: 19px;
}

@keyframes flowerpetal_container-16 {
  0% {
      transform: rotate(0deg);
      left: 34%;
      top: -25%;
  }

  25% {
      left: 39%;
  }

  50% {
      left: 34%;
  }

  75% {
      left: 29%;
      opacity: 1;
  }

  100% {
      left: 31.5%;
      transform: rotate(360deg);
      top: 105%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(17) {
  animation-name: flowerpetal_container-17;
  animation-delay: 19s;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  left: 53vw;
  top: -54vh;
  width: 13px;
  height: 13px;
}

@keyframes flowerpetal_container-17 {
  0% {
      transform: rotate(0deg);
      left: 53%;
      top: -54%;
  }

  25% {
      left: 58%;
  }

  50% {
      left: 53%;
  }

  75% {
      left: 48%;
      opacity: 1;
  }

  100% {
      left: 50.5%;
      transform: rotate(360deg);
      top: 109%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(18) {
  animation-name: flowerpetal_container-18;
  animation-delay: 9s;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  left: 53vw;
  top: -27vh;
  width: 13px;
  height: 13px;
}

@keyframes flowerpetal_container-18 {
  0% {
      transform: rotate(0deg);
      left: 53%;
      top: -27%;
  }

  25% {
      left: 58%;
  }

  50% {
      left: 53%;
  }

  75% {
      left: 48%;
      opacity: 1;
  }

  100% {
      left: 50.5%;
      transform: rotate(360deg);
      top: 100%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(19) {
  animation-name: flowerpetal_container-19;
  animation-delay: 9s;
  animation-duration: 46s;
  animation-iteration-count: infinite;
  left: 5vw;
  top: -48vh;
  width: 12px;
  height: 12px;
}

@keyframes flowerpetal_container-19 {
  0% {
      transform: rotate(0deg);
      left: 5%;
      top: -48%;
  }

  25% {
      left: 10%;
  }

  50% {
      left: 5%;
  }

  75% {
      left: 0%;
      opacity: 1;
  }

  100% {
      left: 2.5%;
      transform: rotate(360deg);
      top: 112%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(20) {
  animation-name: flowerpetal_container-20;
  animation-delay: 12s;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  left: 70vw;
  top: -36vh;
  width: 10px;
  height: 10px;
}

@keyframes flowerpetal_container-20 {
  0% {
      transform: rotate(0deg);
      left: 70%;
      top: -36%;
  }

  25% {
      left: 75%;
  }

  50% {
      left: 70%;
  }

  75% {
      left: 65%;
      opacity: 1;
  }

  100% {
      left: 67.5%;
      transform: rotate(360deg);
      top: 100%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(21) {
  animation-name: flowerpetal_container-21;
  animation-delay: 0s;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  left: 48vw;
  top: -37vh;
  width: 11px;
  height: 11px;
}

@keyframes flowerpetal_container-21 {
  0% {
      transform: rotate(0deg);
      left: 48%;
      top: -37%;
  }

  25% {
      left: 53%;
  }

  50% {
      left: 48%;
  }

  75% {
      left: 43%;
      opacity: 1;
  }

  100% {
      left: 45.5%;
      transform: rotate(360deg);
      top: 102%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(22) {
  animation-name: flowerpetal_container-22;
  animation-delay: 7s;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  left: 77vw;
  top: -46vh;
  width: 11px;
  height: 11px;
}

@keyframes flowerpetal_container-22 {
  0% {
      transform: rotate(0deg);
      left: 77%;
      top: -46%;
  }

  25% {
      left: 82%;
  }

  50% {
      left: 77%;
  }

  75% {
      left: 72%;
      opacity: 1;
  }

  100% {
      left: 74.5%;
      transform: rotate(360deg);
      top: 100%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(23) {
  animation-name: flowerpetal_container-23;
  animation-delay: 10s;
  animation-duration: 43s;
  animation-iteration-count: infinite;
  left: 62vw;
  top: -27vh;
  width: 18px;
  height: 18px;
}

@keyframes flowerpetal_container-23 {
  0% {
      transform: rotate(0deg);
      left: 62%;
      top: -27%;
  }

  25% {
      left: 67%;
  }

  50% {
      left: 62%;
  }

  75% {
      left: 57%;
      opacity: 1;
  }

  100% {
      left: 59.5%;
      transform: rotate(360deg);
      top: 112%;
      opacity: 0;
  }
}

#flowerpetal_container .flowerpetal:nth-of-type(24) {
  animation-name: flowerpetal_container-24;
  animation-delay: 14s;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  left: 62vw;
  top: -59vh;
  width: 18px;
  height: 18px;
}

@keyframes flowerpetal_container-24 {
  0% {
      transform: rotate(0deg);
      left: 62%;
      top: -59%;
  }

  25% {
      left: 67%;
  }

  50% {
      left: 62%;
  }

  75% {
      left: 57%;
      opacity: 1;
  }

  100% {
      left: 59.5%;
      transform: rotate(360deg);
      top: 111%;
      opacity: 0;
  }
}
/* End flower petal animation */
